.header {
    background-color: var(--cream-color);
    height: 100px;
    text-align: center;
    color: var(--dark-brown-color);
}

h1 {
    text-align: center;
    padding-top: 2%;
    font-family: cursive;
    font-size: 35px;
}
